<div class="custom-container">
    <div class="alert custom-alert" role="alert">
      <h4 class="alert-heading">Congratulations!</h4>
      <p class="mb-0">You successfully submitted the test.</p>
      <div class="mt-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" class="feather feather-check-circle custom-tick">
          <circle cx="12" cy="12" r="10"></circle>
          <polyline points="16 8 10 14 8 12"></polyline>
        </svg>
        
      </div>
     <h1>{{score}}</h1>
    </div>
    
  </div>

