<!-- 

<div class="container mt-5">
    <h2 class="text-center mb-4">Professional Scoreboard</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Score</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of timestampData">
            <td>{{ entry.username }}</td>
            <td>{{ entry.score }}</td>
            <td>{{ entry.date }}</td>
            <td>{{ entry.time }}</td>
          </tr>
       
      </tbody>
    </table>
    
  </div>
  <div class="text-right mt-5 " style="margin-right: 50%;">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
 -->

 <!-- <div class="container mt-5">
    <h2 class="text-center mb-4">Professional Scoreboard</h2>
   
 

    <ng-template #timestampTable>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Score</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of timestampData">
            <td>{{ entry.username }}</td>
            <td>{{ entry.score }}</td>
            <td>{{ entry.timestamp }}</td>
            
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
  
  <div class="text-right mt-5 " style="margin-right: 50%;">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div> -->

  <!-- <div *ngIf="timestampData">
    <h2>Timestamp Data</h2>
    <ul>
      <li *ngFor="let data of timestampData">
        <p>ID: {{data.id}}</p>
        <p>Timestamp: {{ data.timestamp }}</p>
        <p>Score: {{ data.score }}</p>
      </li>
    </ul>
  </div> -->

  <!-- <div *ngIf="timestampData">
    <h2>Timestamp Data</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Date</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of timestampData">
            <td>{{ data.id }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.timestamp }}</td>
            <td>{{ data.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   -->
   <div *ngIf="timestampData">
    <h2 class="mb-4">Professional Scoreboard</h2>
    <div class="table-responsive" >
      <table class="table table-bordered table-striped table-hover " >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Date Time</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of timestampData; let i = index" [class.table-success]="i % 2 === 0">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ data.username }}</td>
            <td>{{ data.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ data.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right mt-5 " style="margin-right: 50%;">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
  </div>
  